* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.labTest {
    margin: auto;
    padding: 4px;
    padding-bottom: 30px;
    width: 90%;
    height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: initial;
    margin-top: 50px;
    box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.2);
}

.buttons {
    margin: 20px;
    width: 100px;
    height: 30px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.innerDiv1 {
    margin-left: 10px;
    float: left;
    width: 50%;
}

.innerDiv2 {
    float: right;
    height: 900px;
    width: 45%;
}

.innerDiv2>.lab-image {
    width: 100%;
    height: 100%;

    background-image: url("Images/Lab-Test/lab-test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
    outline: none;
    display: inline;
    margin: 5px;
    text-align: left;
    width: 45%;
    min-width: 160px;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid black;
}

input[type="date"],
input[type="time"] {
    width: 20%;
}

input[type="checkbox"] {
    margin: 10px;
}